body {
	padding-top: 0px;
	padding-bottom: 20px;
	font-family: 'Oxygen', sans-serif;
}

#form-container h1{
	text-align: center;
}

form {
	height: 200px;
	width: 300px;
	margin: 0 auto;

}
input.ng-invalid{
	border: 1px solid red;
}

textarea {
	resize: none;
	overflow: auto;
}

#submitMessage {
	text-align: center;
	border: 0px solid #333;
	padding: 5%;
}

textarea.ng-invalid{
	border: 1px solid red;
}
